{% extends 'base.html.twig' %}

{% block title %}categories{% endblock %}

{% block body %}
<div class = "container">
<br>
<h1> Catégories</h1>
{% include 'layout/_flash_message.html.twig' %}
<br>
<table class="table">
<tr>
<th>id</th>
<th>nom de la catégorie</th>
<th>actions</th>
</tr>
{% for category in categories %}
<tr>
    <td>{{ category.id }}</td>
     <td>{{ category.name }}</td>
     <td>
     <a href="{{path('app_category_update',{'id':category.id})}}"
     </td>
     </tr>
     {% else %}
     <p>Aucune catégorie à afficher</p>
     {% endfor %}
     </table>
     <a class="btn btn-outline-success" href="{{ path ('app_category_new')}}">Nouvelle catégorie</a>
































     
     </div>

{% endblock %}
